@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: unset;
  background-color: var(--Three);
}

:root {
  --One: #341e83;
  --Three: #e72f5b;
  --Four: #fc93f2;
  --Five: #ffdbff;
  --Six: #ffddfc;
}

header {
  font-weight: 500;
  color: whitesmoke;
  background-color: var(--One);
  display: flex;
  justify-content: center;
}

.father {
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-style: outset;
  flex-wrap: wrap;
  border-top-width: 60px;
  border-top-color: var(--Three);
}

.iconos {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.images {
  width: 380px;
}

.calculator {
  height: 660px;
  background-color: var(--Four);
  border-color: black;
  border-width: 5px;
  border-radius: 30px;
  border-style: groove;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen {
  height: 95px;
  width: 470px;
  background-color: var(--Five);
  border-color: white;
  border-style: groove;
  border-radius: 10px;
}

.screen:hover {
  cursor: none;
}

.Numbers {
  background-color: var(--Four);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boton {
  font-size: 60px;
  width: 60px;
  height: 100px;
  color: black;
  background-color: var(--Six);
  border-color: black;
  border-style: double;
  border-bottom-style: groove;
  border-radius: 70px;
  border-width: 0.2rem;
  margin: 15px;
  cursor: pointer;
}

.boton:hover {
  color: whitesmoke;
}

@media (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 60%;
    size: 60%;
  }
  .images {
    width: 280px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
  .images {
    display: none;
  }
}
